*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
  }
  
  .form-group {
    width: 400px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
  }
  input{
    width: 100%;
    background: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid yellow;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  button {
    width: 100%;
    background: yellow;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
   cursor: pointer;
  }
  .form-group p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: white;
  }
  .form-group a {
    color: white;
    text-decoration: none;
  }
  .form-group a:hover {
    color: white;
    text-decoration: underline;
  }
  