*{
    margin: 0px;
    padding: 5px;
}
body{
    background-image: url(fondo.jpg);
    background-size: contain; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    align-items: center;
}
.Rutinas-generales{
    font-family: sans-serif;
    align-items: center;
}
table{
    background-color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.2);
    
}
th{
    background-color: white;
}
tr{
    background-color: white;
}