*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    padding: 15px;
    background-color: rgb(180, 180, 180);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(230, 230, 230);
    z-index: 9999;
}
.pagina{
    display: flex;
}
.fija{
    background-color: aqua;
    padding: 10px;
    height: 100%;
    width: 20%;
    position: fixed;
}
.terminos{
    width: 80%;
    padding: 10px;
    margin-left: auto;
}
